{% extends 'base.html.twig' %} 

{% block title %}Hello CartController! {% endblock %} 

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

    {% if items | length > 0 %}
        <table class="table">
            <thread>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thread>

            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.title}}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity}}</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id})}}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"> </i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            <t/body>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total :</td>
                    <td>{{ total }} </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Votre panier est vide !</p>

    {% endif %} 
{% endblock %}

